---
http_interactions:
- request:
    method: get
    uri: https://route53.amazonaws.com/2013-04-01/hostedzone
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Content-Type:
      - ''
      X-Amz-Date:
      - 20170320T125721Z
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAIAJEZRSZTE3MXI7Q/20170320/us-east-1/route53/aws4_request,
        SignedHeaders=host;user-agent;x-amz-content-sha256;x-amz-date, Signature=27eb929037bf19c745ef93df24c0a4a2c4cd4a6599a571b5aab867ef3e2c0a74
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      X-Amzn-Requestid:
      - c241cb0b-0d6c-11e7-a82f-cf3577e0ef65
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <ErrorResponse xmlns="https://route53.amazonaws.com/doc/2013-04-01/"><Error><Type>Sender</Type><Code>AccessDenied</Code><Message>User: arn:aws:iam::851006648695:user/sprinkle-wroclove-test is not authorized to perform: route53:ListHostedZones</Message></Error><RequestId>c241cb0b-0d6c-11e7-a82f-cf3577e0ef65</RequestId></ErrorResponse>
  recorded_at: Mon, 20 Mar 2017 12:57:22 GMT
recorded_with: VCR 3.0.3
