---
http_interactions:
- request:
    method: get
    uri: https://route53.amazonaws.com/2013-04-01/hostedzone
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Content-Type:
      - ''
      X-Amz-Date:
      - 20170320T125618Z
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAIAJEZRSZTE3MXI7Q/20170320/us-east-1/route53/aws4_request,
        SignedHeaders=host;user-agent;x-amz-content-sha256;x-amz-date, Signature=641947bfa20430c222471de016d6915665112050874ef5c964f20a635b29acce
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 9c63940f-0d6c-11e7-9feb-2dd4af5e3dd7
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <ListHostedZonesResponse xmlns="https://route53.amazonaws.com/doc/2013-04-01/"><HostedZones><HostedZone><Id>/hostedzone/Z21BGVSMXQ6LMH</Id><Name>billetto.be.</Name><CallerReference>ref-349775</CallerReference><Config><PrivateZone>false</PrivateZone></Config><ResourceRecordSetCount>20</ResourceRecordSetCount></HostedZone><HostedZone><Id>/hostedzone/ZLK1GZ29DX8VL</Id><Name>billetto.lv.</Name><CallerReference>ref-156215</CallerReference><Config><PrivateZone>false</PrivateZone></Config><ResourceRecordSetCount>19</ResourceRecordSetCount></HostedZone><HostedZone><Id>/hostedzone/ZU8A70RBZIWV6</Id><Name>billetto.pl.</Name><CallerReference>ref-803164</CallerReference><Config><PrivateZone>false</PrivateZone></Config><ResourceRecordSetCount>20</ResourceRecordSetCount></HostedZone><H[...]
- request:
    method: get
    uri: https://route53.amazonaws.com/2013-04-01/hostedzone/Z2TAYJZODNBHR7/rrset
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Content-Type:
      - ''
      X-Amz-Date:
      - 20170320T125619Z
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAIAJEZRSZTE3MXI7Q/20170320/us-east-1/route53/aws4_request,
        SignedHeaders=host;user-agent;x-amz-content-sha256;x-amz-date, Signature=c649b1e73f4b450e73936d9e85da316dac2c696b821a00398fc3e07faf1f5d37
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      X-Amzn-Requestid:
      - 9caa3a15-0d6c-11e7-8262-c56cd03c345f
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <ErrorResponse xmlns="https://route53.amazonaws.com/doc/2013-04-01/"><Error><Type>Sender</Type><Code>AccessDenied</Code><Message>User: arn:aws:iam::851006648695:user/sprinkle-wroclove-test is not authorized to perform: route53:ListResourceRecordSets on resource: arn:aws:route53:::hostedzone/Z2TAYJZODNBHR7</Message></Error><RequestId>9caa3a15-0d6c-11e7-8262-c56cd03c345f</RequestId></ErrorResponse>
  recorded_at: Mon, 20 Mar 2017 12:56:19 GMT
recorded_with: VCR 3.0.3
