---
http_interactions:
- request:
    method: get
    uri: https://route53.amazonaws.com/2013-04-01/hostedzone
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Content-Type:
      - ''
      X-Amz-Date:
      - 20170320T125510Z
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAIAJEZRSZTE3MXI7Q/20170320/us-east-1/route53/aws4_request,
        SignedHeaders=host;user-agent;x-amz-content-sha256;x-amz-date, Signature=b60a9f41a342a261d8ec7a6673927fd0a025ff39c25c819f1053eb318760ecd2
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 73d2bfd8-0d6c-11e7-bfe6-f90f8552091a
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <ListHostedZonesResponse xmlns="https://route53.amazonaws.com/doc/2013-04-01/"><HostedZones><HostedZone><Id>/hostedzone/Z21BGVSMXQ6LMH</Id><Name>billetto.be.</Name><CallerReference>ref-349775</CallerReference><Config><PrivateZone>false</PrivateZone></Config><ResourceRecordSetCount>20</ResourceRecordSetCount></HostedZone><HostedZone><Id>/hostedzone/ZLK1GZ29DX8VL</Id><Name>billetto.lv.</Name><CallerReference>ref-156215</CallerReference><Config><PrivateZone>false</PrivateZone></Config><ResourceRecordSetCount>19</ResourceRecordSetCount></HostedZone><HostedZone><Id>/hostedzone/ZU8A70RBZIWV6</Id><Name>billetto.pl.</Name><CallerReference>ref-803164</CallerReference><Config><PrivateZone>false</PrivateZone></Config><ResourceRecordSetCount>20</ResourceRecordSetCount></HostedZone><H[...]
- request:
    method: get
    uri: https://route53.amazonaws.com/2013-04-01/hostedzone/Z2TAYJZODNBHR7/rrset
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Content-Type:
      - ''
      X-Amz-Date:
      - 20170320T125510Z
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAIAJEZRSZTE3MXI7Q/20170320/us-east-1/route53/aws4_request,
        SignedHeaders=host;user-agent;x-amz-content-sha256;x-amz-date, Signature=13cef40f229041ebb620001016f050c0a562626f8fd7c1cc4e44c4df48d48834
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 741b8935-0d6c-11e7-91a1-a3630fb4147a
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <ListResourceRecordSetsResponse xmlns="https://route53.amazonaws.com/doc/2013-04-01/"><ResourceRecordSets><ResourceRecordSet><Name>test.noaccess.billetto.com.</Name><Type>A</Type><TTL>3600</TTL><ResourceRecords><ResourceRecord><Value>127.0.0.1</Value></ResourceRecord></ResourceRecords></ResourceRecordSet><ResourceRecordSet><Name>test.noaccess.billetto.com.</Name><Type>NS</Type><TTL>172800</TTL><ResourceRecords><ResourceRecord><Value>ns-1643.awsdns-13.co.uk.</Value></ResourceRecord><ResourceRecord><Value>ns-991.awsdns-59.net.</Value></ResourceRecord><ResourceRecord><Value>ns-12.awsdns-01.com.</Value></ResourceRecord><ResourceRecord><Value>ns-1227.awsdns-25.org.</Value></ResourceRecord></ResourceRecords></ResourceRecordSet><ResourceRecordSet><Name>test.noaccess.billetto.com.</Name><Type>SOA</Type><TTL>900</TTL><ResourceRecords><ResourceRecord><Value>ns-1643.awsdns-13.co.uk. awsdns-hostmaster.amazon.com. 1 7200 900 1209600 86400</Value></ResourceRecord></ResourceRecords></ResourceRecordSet><ResourceRecordSet><Name>1234.test.noaccess.billetto.com.</Name><Type>A</Type><TTL>3600</TTL><ResourceRecords><ResourceRecord><Value>127.0.0.1</Value></ResourceRecord></ResourceRecords></ResourceRecordSet><ResourceRecordSet><Name>getchange.test.noaccess.billetto.com.</Name><Type>A</Type><TTL>3600</TTL><ResourceRecords><ResourceRecord><Value>127.0.0.1</Value></ResourceRecord></ResourceRecords></ResourceRecordSet></ResourceRecordSets><IsTruncated>false</IsTruncated><MaxItems>100</MaxItems></ListResourceRecordSetsResponse>
  recorded_at: Mon, 20 Mar 2017 12:55:11 GMT
- request:
    method: post
    uri: https://route53.amazonaws.com/2013-04-01/hostedzone/Z2TAYJZODNBHR7/rrset/
    body:
      encoding: UTF-8
      string: |
        <ChangeResourceRecordSetsRequest xmlns="https://route53.amazonaws.com/doc/2013-04-01/">
          <ChangeBatch>
            <Changes>
              <Change>
                <Action>CREATE</Action>
                <ResourceRecordSet>
                  <Name>kasp.noaccess.billetto.com.</Name>
                  <Type>A</Type>
                  <TTL>3600</TTL>
                  <ResourceRecords>
                    <ResourceRecord>
                      <Value>127.0.0.1</Value>
                    </ResourceRecord>
                  </ResourceRecords>
                </ResourceRecordSet>
              </Change>
            </Changes>
          </ChangeBatch>
        </ChangeResourceRecordSetsRequest>
    headers:
      Content-Type:
      - ''
      X-Amz-Date:
      - 20170320T125511Z
      X-Amz-Content-Sha256:
      - dee95460c3a94a71b38e138bc9b55a72d36f09203b62286638b665988c8362b3
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAIAJEZRSZTE3MXI7Q/20170320/us-east-1/route53/aws4_request,
        SignedHeaders=host;user-agent;x-amz-content-sha256;x-amz-date, Signature=7836d2ae2a9e722487a6851263cd5ff35f22b746e3d40971031a25e282e731d7
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      X-Amzn-Requestid:
      - 7462a44d-0d6c-11e7-8e32-559ed56c7b00
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <ErrorResponse xmlns="https://route53.amazonaws.com/doc/2013-04-01/"><Error><Type>Sender</Type><Code>AccessDenied</Code><Message>User: arn:aws:iam::851006648695:user/sprinkle-wroclove-test is not authorized to perform: route53:ChangeResourceRecordSets on resource: arn:aws:route53:::hostedzone/Z2TAYJZODNBHR7</Message></Error><RequestId>7462a44d-0d6c-11e7-8e32-559ed56c7b00</RequestId></ErrorResponse>
  recorded_at: Mon, 20 Mar 2017 12:55:11 GMT
recorded_with: VCR 3.0.3
