---
http_interactions:
- request:
    method: get
    uri: https://route53.amazonaws.com/2013-04-01/hostedzone
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Content-Type:
      - ''
      X-Amz-Date:
      - 20170320T125339Z
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAIAJEZRSZTE3MXI7Q/20170320/us-east-1/route53/aws4_request,
        SignedHeaders=host;user-agent;x-amz-content-sha256;x-amz-date, Signature=0f5db2f8d973618420181b1951ae32c2861ba1b375c19948f8596fe2eb76c879
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 3d7387e4-0d6c-11e7-9fa3-41f0bac32e55
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <ListHostedZonesResponse xmlns="https://route53.amazonaws.com/doc/2013-04-01/"><HostedZones><HostedZone><Id>/hostedzone/Z21BGVSMXQ6LMH</Id><Name>billetto.be.</Name><CallerReference>ref-349775</CallerReference><Config><PrivateZone>false</PrivateZone></Config><ResourceRecordSetCount>20</ResourceRecordSetCount></HostedZone><HostedZone><Id>/hostedzone/ZLK1GZ29DX8VL</Id><Name>billetto.lv.</Name><CallerReference>ref-156215</CallerReference><Config><PrivateZone>false</PrivateZone></Config><ResourceRecordSetCount>19</ResourceRecordSetCount></HostedZone><HostedZone><Id>/hostedzone/ZU8A70RBZIWV6</Id><Name>billetto.pl.</Name><CallerReference>ref-803164</CallerReference><Config><PrivateZone>false</PrivateZone></Config><ResourceRecordSetCount>20</ResourceRecordSetCount></HostedZone><H[...]
- request:
    method: get
    uri: https://route53.amazonaws.com/2013-04-01/hostedzone/Z2TAYJZODNBHR7/rrset
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Content-Type:
      - ''
      X-Amz-Date:
      - 20170320T125339Z
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAIAJEZRSZTE3MXI7Q/20170320/us-east-1/route53/aws4_request,
        SignedHeaders=host;user-agent;x-amz-content-sha256;x-amz-date, Signature=914212a2d46c8aa56cd1df56089642370cdb625a09a0a4971f29334d773131b6
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 3dbd895e-0d6c-11e7-8987-4d9a640b9abd
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <ListResourceRecordSetsResponse xmlns="https://route53.amazonaws.com/doc/2013-04-01/"><ResourceRecordSets><ResourceRecordSet><Name>test.noaccess.billetto.com.</Name><Type>NS</Type><TTL>172800</TTL><ResourceRecords><ResourceRecord><Value>ns-1643.awsdns-13.co.uk.</Value></ResourceRecord><ResourceRecord><Value>ns-991.awsdns-59.net.</Value></ResourceRecord><ResourceRecord><Value>ns-12.awsdns-01.com.</Value></ResourceRecord><ResourceRecord><Value>ns-1227.awsdns-25.org.</Value></ResourceRecord></ResourceRecords></ResourceRecordSet><ResourceRecordSet><Name>test.noaccess.billetto.com.</Name><Type>SOA</Type><TTL>900</TTL><ResourceRecords><ResourceRecord><Value>ns-1643.awsdns-13.co.uk. awsdns-hostmaster.amazon.com. 1 7200 900 1209600 86400</Value></ResourceRecord></ResourceRecords></ResourceRecordSet></ResourceRecordSets><IsTruncated>false</IsTruncated><MaxItems>100</MaxItems></ListResourceRecordSetsResponse>
  recorded_at: Mon, 20 Mar 2017 12:53:40 GMT
- request:
    method: post
    uri: https://route53.amazonaws.com/2013-04-01/hostedzone/Z2TAYJZODNBHR7/rrset/
    body:
      encoding: UTF-8
      string: |
        <ChangeResourceRecordSetsRequest xmlns="https://route53.amazonaws.com/doc/2013-04-01/">
          <ChangeBatch>
            <Changes>
              <Change>
                <Action>CREATE</Action>
                <ResourceRecordSet>
                  <Name>test.noaccess.billetto.com.</Name>
                  <Type>A</Type>
                  <TTL>3600</TTL>
                  <ResourceRecords>
                    <ResourceRecord>
                      <Value>127.0.0.1</Value>
                    </ResourceRecord>
                  </ResourceRecords>
                </ResourceRecordSet>
              </Change>
              <Change>
                <Action>CREATE</Action>
   [...]
- request:
    method: get
    uri: https://route53.amazonaws.com/2013-04-01/change/C3JOWNTB3P5IL4
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Content-Type:
      - ''
      X-Amz-Date:
      - 20170320T125340Z
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAIAJEZRSZTE3MXI7Q/20170320/us-east-1/route53/aws4_request,
        SignedHeaders=host;user-agent;x-amz-content-sha256;x-amz-date, Signature=4e08b262993233f9c3018dbd07a623bb90748698d70a5e202204adc88c8f4943
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      X-Amzn-Requestid:
      - 3e4ad56b-0d6c-11e7-8f54-1f719d1a46eb
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <ErrorResponse xmlns="https://route53.amazonaws.com/doc/2013-04-01/"><Error><Type>Sender</Type><Code>AccessDenied</Code><Message>User: arn:aws:iam::851006648695:user/sprinkle-wroclove-test is not authorized to perform: route53:GetChange on resource: arn:aws:route53:::change/C3JOWNTB3P5IL4</Message></Error><RequestId>3e4ad56b-0d6c-11e7-8f54-1f719d1a46eb</RequestId></ErrorResponse>
  recorded_at: Mon, 20 Mar 2017 12:53:41 GMT
recorded_with: VCR 3.0.3
