---
http_interactions:
- request:
    method: get
    uri: https://route53.amazonaws.com/2013-04-01/hostedzone
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Content-Type:
      - ''
      X-Amz-Date:
      - 20170320T124734Z
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAIAJEZRSZTE3MXI7Q/20170320/us-east-1/route53/aws4_request,
        SignedHeaders=host;user-agent;x-amz-content-sha256;x-amz-date, Signature=88e8f7d2bec96a0938e65053f17c3fa90c573994c3b3cafda3bdba57a94aab2d
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 63c5f9c6-0d6b-11e7-ac19-d71497c83624
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <ListHostedZonesResponse xmlns="https://route53.amazonaws.com/doc/2013-04-01/"><HostedZones><HostedZone><Id>/hostedzone/Z21BGVSMXQ6LMH</Id><Name>billetto.be.</Name><CallerReference>ref-349775</CallerReference><Config><PrivateZone>false</PrivateZone></Config><ResourceRecordSetCount>20</ResourceRecordSetCount></HostedZone><HostedZone><Id>/hostedzone/ZLK1GZ29DX8VL</Id><Name>billetto.lv.</Name><CallerReference>ref-156215</CallerReference><Config><PrivateZone>false</PrivateZone></Config><ResourceRecordSetCount>19</ResourceRecordSetCount></HostedZone><HostedZone><Id>/hostedzone/ZU8A70RBZIWV6</Id><Name>billetto.pl.</Name><CallerReference>ref-803164</CallerReference><Config><PrivateZone>false</PrivateZone></Config><ResourceRecordSetCount>20</ResourceRecordSetCount></HostedZone><H[...]
- request:
    method: get
    uri: https://route53.amazonaws.com/2013-04-01/hostedzone/Z2TAYJZODNBHR7/rrset
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Content-Type:
      - ''
      X-Amz-Date:
      - 20170320T124734Z
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAIAJEZRSZTE3MXI7Q/20170320/us-east-1/route53/aws4_request,
        SignedHeaders=host;user-agent;x-amz-content-sha256;x-amz-date, Signature=6b1d510d1a4993563278dfde76d30d4b7223a77dd4c3507b241fd0c7ffd0d9cb
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 6411cfdf-0d6b-11e7-9421-6113b172aa89
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <ListResourceRecordSetsResponse xmlns="https://route53.amazonaws.com/doc/2013-04-01/"><ResourceRecordSets><ResourceRecordSet><Name>test.noaccess.billetto.com.</Name><Type>A</Type><TTL>3600</TTL><ResourceRecords><ResourceRecord><Value>127.0.0.1</Value></ResourceRecord></ResourceRecords></ResourceRecordSet><ResourceRecordSet><Name>test.noaccess.billetto.com.</Name><Type>NS</Type><TTL>172800</TTL><ResourceRecords><ResourceRecord><Value>ns-991.awsdns-59.net.</Value></ResourceRecord><ResourceRecord><Value>ns-1643.awsdns-13.co.uk.</Value></ResourceRecord><ResourceRecord><Value>ns-12.awsdns-01.com.</Value></ResourceRecord><ResourceRecord><Value>ns-1227.awsdns-25.org.</Value></ResourceRecord></ResourceRecords></ResourceRecordSet><ResourceRecordSet><Name>test.noaccess.billetto.com.</Name><Type>SOA</Type><TTL>900</TTL><ResourceRecords><ResourceRecord><Value>ns-1643.awsdns-13.co.uk. awsdns-hostmaster.amazon.com. 1 7200 900 1209600 86400</Value></ResourceRecord></ResourceRecords></ResourceRecordSet><ResourceRecordSet><Name>getchange.test.noaccess.billetto.com.</Name><Type>A</Type><TTL>3600</TTL><ResourceRecords><ResourceRecord><Value>127.0.0.1</Value></ResourceRecord></ResourceRecords></ResourceRecordSet></ResourceRecordSets><IsTruncated>false</IsTruncated><MaxItems>100</MaxItems></ListResourceRecordSetsResponse>
  recorded_at: Mon, 20 Mar 2017 12:47:35 GMT
recorded_with: VCR 3.0.3
